*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

img, video {
  display: block;
  max-width: 100%;
}

a {
  display: block;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span {
  color: white;
}

.main-container {
  padding: 0 20px;
  max-width: 1100px;
  margin: auto;
}

#root {
  background-color: #202020;  
}

.main-header {
  background-color: #202020;
}

.logo {
  max-width: 40%;
  display: block;
}

.main-container__header {
  padding: 0px;
}

.main-header__logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__logo__link {
  display: block;
  padding: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.main-header__navigator {
  padding: 0 60px;
  margin: 0;
}

.list-ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header__list {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.main-header__item {
  transition: .4s all;
  border-top: 1px solid white;
}

.main-header__item:hover {
  background-color: black;
}

.main-header__link {
  color: white;
  text-align: center;
  padding: 1em;
}

.main-footer {
  color: white;
  background-color: black;
  padding: 60px 0;
}

.main-footer__item.widget {
  border-bottom: 1px solid white;
  padding-bottom: 30px;
}

.main-footer__link {
  color: white;
  padding: 10px 20px;
}

.membership-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.form-element {
  border-radius: 1px;
  border: 1px solid rgba(255, 255, 255, .6);
  padding: 10px 30px;
  background-color: #202020;
  color: white;
}

.button {
  cursor: pointer;
}

.main-input {
  margin-top: 8px;
}

.main-input--dark:focus {
  border: 1px solid red;
  box-shadow: 0px;
}

.main-default-banner {
  --opacity: rgba(0,0,0,.6);
  background-image: linear-gradient(var(--opacity), var(--opacity)), url('https://i.pinimg.com/originals/2a/9b/46/2a9b464aa9fac105d8a1bb8466211d60.jpg');
  padding: 60px 0;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}